<div class="container">
  <legend style="border-bottom: none;">

    <h4 style="text-align: Right">
      <b>If you have not account yet,
        <a routerLink="/register">Registration Now</a>
      </b>
    </h4>

  </legend>
  <!-- Success message -->
  <div class="alert alert-danger" role="alert" *ngIf="valid">{{this.msg}}
    <i class="glyphicon glyphicon-remove"></i> LogIn Fail!.
  </div>
  <div class="row login-form">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Login</strong>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" (submit)="logIn()">
            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">Contact_No</label>
              <div class="col-md-9">
                <input type="number" class="form-control" name="contact_No" placeholder="(+92)" [(ngModel)]="contact_No" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" required class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required >
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="form-group last">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success btn-md">Sign in</button>
                <button type="reset" class="btn btn-default btn-md">Reset</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>