<div class="container">

  <div class="col-xs-12">
      <div class="col-md-6" style="margin: 10px;padding:10px;">
          <button class="btn btn-warning" style="padding:10px 50px;">Back</button>
      </div>
  </div>

  <div class="col-xs-12">
      <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
              <div class="item active">
                  <ul class="thumbnails">
                      <li class="col-sm-3">
                          <div class="fff">
                              <div class="thumbnail">
                                  <a href="#">
                                      <img src="../assets/footer.jpg" alt="" height="180px">
                                  </a>
                              </div>
                              <div class="caption">
                                  <h4>Title</h4>
                                  <p>Description</p>
                                  <p style="text-align: right;">Date</p>
                                  <a class="btn btn-mini" href="#">» See More</a>
                              </div>
                          </div>
                      </li>
                      <li class="col-sm-3">
                          <div class="fff">
                              <div class="thumbnail">
                                  <a href="#">
                                      <img src="../assets/footer.jpg" alt="" height="180px">
                                  </a>
                              </div>
                              <div class="caption">
                                  <h4>Title</h4>
                                  <p>Description</p>
                                  <p style="text-align: right;">Date</p>
                                  <a class="btn btn-mini" href="#">» See More</a>
                              </div>
                          </div>
                      </li>
                      <li class="col-sm-3">
                          <div class="fff">
                              <div class="thumbnail">
                                  <a href="#">
                                      <img src="../assets/footer.jpg" alt="" height="180px">
                                  </a>
                              </div>
                              <div class="caption">
                                  <h4>Title</h4>
                                  <p>Description</p>
                                  <p style="text-align: right;">Date</p>
                                  <a class="btn btn-mini" href="#">» See More</a>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <!-- /Slide1 -->
          </div>
          <!-- /#carousel-inner -->
      </div>
      <!-- /#myCarousel -->

  </div>
  <!-- /.col-xs-12 -->
  <div class="col-xs-12">
  </div>

</div>
<!-- /.container -->