
img { max-width:100%;
    height: 120px !important; }
    
     a:hover {
        opacity: 0.6;
        text-decoration: none;
    } 
    
    body{
        border-top:0;
        background:#c4e17f;
       
    }
    
    .thumbnails li> .fff .caption { 
        background:#fff !important; 
        padding:10px
    }
    
    ul.thumbnails { 
        margin-bottom: 0px;
    }
    
    /* Thumbnail Box */
    .caption h4 {
        color: #444;
    }
    
    .caption p {  
        color: #999;
    }
    
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
    }
    
    @media (max-width: 479px) {
        .caption {
            word-break: break-all;
        }
    }
    
    li { list-style-type:none;}
    
    