<div class="container">
  <nav class="navbar navbar-default" style="background-color:none;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" routerLink="/">
        <img src="../../assets/icons/OLXLogo.png" alt="OlX.pk" width="80px">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="logo_txt"><strong>Pakistan Best Marketplace</strong></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="signup">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-user"></span> My Account</a>
        </li>
        <li class="Ad">
          <a routerLink="/posting">
            <button type="button" class="btn btn-warning">Submit a Free Ad</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>