<div class="container search1">
  <form action="" method="GET"> 
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Location"/>
          </div>
        </div>
        <div class="col-xs-8 col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="search">Search</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
