<div class="container">
  <div class="row">
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/property.png" alt="Property">
          <div class="caption">
            <h3 class="text-center">Property</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/car.png" alt="Cars">
          <div class="caption">
            <h3 class="text-center">Cars</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/furniture.png" alt="furniture">
          <div class="caption">
            <h3 class="text-center">
              Furniture</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/Electronics & Appliances.png" alt="Electronics & Appliances">
          <div class="caption">
            <h3 class="text-center">Electronics & Appliances</h3>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/jobs.png" alt="Jobs">
          <div class="caption">
            <h3 class="text-center">Jobs</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/mobile.png" alt="mobile">
          <div class="caption">
            <h3 class="text-center">Mobile</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/bike.png" alt="Bikes">
          <div class="caption">
            <h3 class="text-center">Bikes</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/Books, Sports & Hobbies.png" alt="Books, Sports & Hobbies">
          <div class="caption">
            <h3 class="text-center">Books, Sports & Hobbies</h3>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/fashion.png" alt="Fashion">
          <div class="caption">
            <h3 class="text-center">Fashion</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/pet.png" alt="Pets">
          <div class="caption">
            <h3 class="text-center">Pets</h3>
          </div>
        </div>
      </div>
    </a>
    <a class="custom-card" routerLink="/posting">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="../../assets/icons/services.png" alt="Services">
          <div class="caption">
            <h3 class="text-center">Services</h3>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>