<div class="container">
  <div class="row f_logo">
    <div class="col-lg-12">
      <a class="navbar-brand logo" routerLink="/home">
        <img src="../../assets/icons/OLXLogo.png" alt="OlX.pk" width="80px">
      </a>
    </div>
  </div>
  <div class="row l_foot">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li>
          <a href="#">© 2013 OLX PAKISTAN</a>
        </li>
        <li>
          <a href="#">Terms of Service</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</div>